<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e00fc680-ee0b-41bf-9059-2ef081055014/resourcegroups/DDACAD/providers/Microsoft.Web/sites/CMSLionelAD</ResourceId>
    <ResourceGroup>DDACAD</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cmslionelad.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cmslionelad.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMSLionelAD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CMSLionelAD</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>ddaclionel.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cmslioneladdbserver.database.windows.net,1433;Initial Catalog=CMSLionelAD_db;User ID=useradmin@cmslioneladdbserver;Password=Password123" Name="Data Source=tcp:cmslioneladdbserver.database.windows.net,1433;Initial Catalog=CMSLionelAD_db;User Id=useradmin@cmslioneladdbserver;Password=Password123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CMSLionelAD.Models.ApplicationDbContext, CMSLionelAD" MigrationConfiguration="CMSLionelAD.Migrations.Configuration, CMSLionelAD" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://ddaclionel.onmicrosoft.com/WebApp-cmslionelad.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>5eb439e5-b9a4-4130-b376-38d8d9d18fcb</ADClientAPPID>
    <ADClientPassword>SF//RlamS3Q2oVCNjTs9RCd7BX0lM3MFuGFTtDx9upQ=</ADClientPassword>
    <ADReplyUrl>https://cmslionelad.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>494ea244-45a9-4740-8e0c-a332017d3211</ADTenantId>
    <ADPostLogoutRedirectUri>https://cmslionelad.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cmslioneladdbserver.database.windows.net,1433;Initial Catalog=CMSLionelAD_db;User Id=useradmin@cmslioneladdbserver;Password=Password123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>